@model List<SensorViewModel>

@{
    ViewData["Title"] = "Sensores";
}


<div class="d-flex justify-content-between mb-4 align-items-center m-3">
    <h1 style="margin-left: 12%">Sensores</h1>
    <div style="margin-right: 12%">
        <a href="/Sensor/Create" class="btn btn-outline-primary text-dark" role="button">
            Cadastrar sensor
        </a>
    </div>
</div>
<div class=" d-flex justify-content-center">
    <fieldset id="areaFiltro" class="form-group" style="width:75%">
        <legend>Consulta avançada de Sensores</legend>
        <div class="row">     
            <div class="col-lg-3">
                <span>Localização</span><br />
                <input type="text" id="latitude" class="form-control" placeholder="Latitude"/>
            </div>
            <div class="col-lg-3">
                <br />
                <input type="text" id="longitude" class="form-control" placeholder="Longitude"/>
            </div>
            <div class="col-lg-2">
                <br />
                <input type="button" id="btnFiltro" class="btn btn-success" value="Aplicar" onclick="advancedSensorFilter()" />
            </div>
        </div>
    </fieldset>
</div>
<div class=" d-flex justify-content-center">
    
    <div id="resultadoConsulta"  class="table-responsive"  style="width: 75%">
        <table class="table table-striped text-center table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Ação</th>
                    <th>ID Broker</th>
                    <th>ID Mqtt Agent</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Raio de Atuação (KM)</th>
                </tr>
            </thead>

            <tbody>
                @if(@Model != null) 
                {
            
                    @foreach(var row in @Model)
                    {
                    <tr>
                        <!-- Ação -->
                        <td>
                            <a class="text-decoration-none" href="/Sensor/Edit?id=@row.Id">&#9998;</a>
                            <a class="text-decoration-none" href="javascript:deleteEntry(@row.Id, 'Sensor')">&#10060;</a>
                            <a class="text-decoration-none" href="/DashBoard/Index?id=@row.Id">&#9716;</a>
                        </td>

                        <!-- Broker ID -->
                        <td>@row.BrokerId</td>

                        <!-- Mqtt Agent -->
                        <td>@row.MqttAgentId</td>

                        <!-- Latitude -->
                        <td>@row.Location.Latitude.ToString("0.000000")</td>

                        <!-- Longitude -->
                        <td>@row.Location.Longitude.ToString("0.000000")</td>

                        <!-- Raio de Atuação (KM) -->
                        <td>@row.Range.ToString("0.00")</td>

                    </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan=6>Não há sensores cadastrados no momento.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
