@model List<SensorViewModel>

<table class="table table-striped text-center table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    Ação
                </th>
                <th>ID Broker</th>
                <th>ID Mqtt Agent</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Raio de Atuação (KM)</th>
            </tr>
        </thead>

        <tbody>
            @if(@Model != null) 
            {
            
                @foreach(var row in @Model)
                {
                <tr>
                    <!-- Ação -->
                    <td>
                        <a class="text-decoration-none" href="/Sensor/Edit?id=@row.Id">&#9998;</a>
                        <a class="text-decoration-none" href="javascript:deleteEntry(@row.Id)">&#10060;</a>
                    </td>

                    <!-- Broker ID -->
                    <td>@row.BrokerId</td>

                    <!-- Mqtt Agent -->
                    <td>@row.MqttAgentId</td>

                    <!-- Latitude -->
                    <td>@row.Location.Latitude.ToString("0.000000")</td>

                    <!-- Longitude -->
                    <td>@row.Location.Longitude.ToString("0.000000")</td>

                    <!-- Raio de Atuação (KM) -->
                    <td>@row.Range.ToString("0.00")</td>

                </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan=6>Não há sensores cadastrados no momento.</td>
                </tr>
            }
        </tbody>
    </table>
